<template>
  <BasicLayout>
    <h2>Estamos en la Home</h2>
  </BasicLayout>
</template>

<script>
import BasicLayout from "../layouts/BasicLayout.vue";

export default {
  name: "Home",
  components: {
    BasicLayout,
  },
};
</script>
